LOG_LEVEL=info

DATABASE_DSN=postgres://gophkeeperuser:gophkeepersecret@localhost:5432/gophkeeper?sslmode=disable&pool_max_conns=10&pool_min_conns=1

POSTGRES_DB=gophkeeper
POSTGRES_USER=gophkeeperuser
POSTGRES_PASSWORD=gophkeepersecret
