LOG_LEVEL=info

ENABLE_HTTPS=true
GRPC_ADDRESS=127.0.0.1:50051

DATABASE_DSN=postgres://gophkeeperuser:gophkeepersecret@localhost:5432/gophkeeper?sslmode=disable&pool_max_conns=10&pool_min_conns=1

POSTGRES_DB=gophkeeper
POSTGRES_USER=gophkeeperuser
POSTGRES_PASSWORD=gophkeepersecret

STORAGE_DIR=/tmp/gophkeeper/

SECRET_KEY=
